.buttons_container {
	text-align: center;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-evenly;
}

.logo {
	padding-top : 1em;
	margin-left : 14px;
	float :top left ;
	text-decoration: none;
color:#d11b5e;
font-size:3rem;
    font-family: "Lucida Console", Courier, monospace;

}
.second_container {
	display: flex;
	margin-top:2em;
	justify-content:space-evenly ;
}
.second_container img {
	max-width: 50%;
}
.description{
	font-size:24px;
    font-family: "Lucida Console", Courier, monospace;
	max-width:20%;
	color:#d11b5e;
}
@media only screen and (max-width: 620px) {
	.second_container {
		flex-flow : column wrap;
	}
	.second_container img , .description {
		max-width: 100%;
	}
}
